# Object file
*.o

# Ada Library Information
*.ali

# Directories
bin/
obj/

# I forgot, we also ignore log files.
*.log
logs

# We also ignore everything inside the alire directory.
alire/*

# The external is used for testing some external packages I would need
external
old

# DEBUGGING #
gmem.out
Makefile
